* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
  background-color:efefef;
}

h2 {
  color:#00bfbf;
  font-size:1.8em;
  font-family: 'Thasadith', sans-serif;
}

.Content {
  width: 50vw;
  margin: 0 auto;
  background: white;
  padding: 2em 0 0 0;
}

.highlight {
  background-color: #00bfbf;
  width: 50vw;
  padding-top: 1em;
  margin: 0 auto;
}

.imageHeader{
  width: 50vw;
}

rect {
  fill: #00bfbf;
}


.axis-y .tick text {
  font-size: 1.2em;
  fill: #6f7173;
}

.axis-x .tick text {
  font-size: .8em;
  fill: #6f7173;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 2.5em;
  fill: #6f7173;
  ;
}

.container {
  margin: 1em auto 3em auto;
  width: 100%;
  padding: 0 2em;
}

.container .group {
  padding: 8px 48px;
  margin: 8px;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
}

label::before {
  content: "";
  background: url("../src/img/check-circle.svg");
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -44px;
  top: -8px;

  transform: scale(0) rotateZ(180deg);
  transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked+label::before {
  transform: scale(1) rotateZ(0deg);
}

label::after {
  content: "";
  border: 2px solid #00bfbf;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -42px;
  top: -6px;
  border-radius: 50%;
}

.PRStatistics {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top:2em;
}

.countContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.counter {
  margin: 0 1em;
}

.cityInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cityInputContainer input {
  width:50%;
  border: 1px solid #00bfbf;
  padding: .3em;
  border-radius:.3em 0 0 .3em ;
}

.cityInputContainer input:focus {
  outline:none;
  border: 1px solid #0065a2;
  border-radius:.3em 0 0 .3em ;
}

.cityInputContainer button {
  background-color: #00bfbf;
  border: 1px solid #00bfbf;
  color: white;
  padding: .3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:0 .3em .3em 0;
}

.cityInputContainer button:focus {
  border: 1px solid #0065a2;
  outline:none;
}

.cityInputContainer button:hover {
  background-color: #0065a2;
  border: 1px solid #0065a2;
}

.ctaStyle {
  display: inline-block;
  margin: 2em auto;
  background-color: #0065a2;
  padding: .8em 1.2em;
  font-family: 'Thasadith', sans-serif;
  font-size: 1em;
  border-radius: .5em;
  text-decoration: none;
  color: white;
  font-weight:700;
  box-shadow: 1px 1px 6px 1.5px #bbbbbb;
}

.ctaStyle:hover {
  background-color: #00bfbf;
}

.infoBlock {
  background-color: #00bfbf;
  color:white;
  margin: 4em 0 0 0;
  display:flex;
  flex-direction: row;
  text-align:left;
}

.infoBlock div{
  padding:1em;
}

.infoBlock div span{
  font-weight:700;
}

.infoBlock img{
  width: 66%;
}

.infoBlock h2{
  color:white;
}